*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
  --inner-height: calc(100vh - calc(100vh - 100%));
}
html {
  height: var(--inner-height);
}
body {
  height: 100%;
  margin: 0;
  padding: 16px;
  background: whitesmoke;
}

.main-title {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    font-family: "Rouge Script";
    font-size: 96px;
    color: dodgerblue;
}

#board {
    width: 800px;
    height: 800px;
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
}

.fen-wrapper {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 16px;
    display: flex;
    justify-content: end;
}
.fen-input {
    width: 480px;
    padding: 0 8px;
    margin-right: 8px;
}
.set-fen {
    padding: 6px;
    background: dodgerblue;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
}